header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba($white, 0.95);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: $spacing-sm 0;
  @include transition;

  .header-container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: $font-family-heading;
      font-size: 1.5rem;
      font-weight: bold;
      color: $secondary-color;
      letter-spacing: 1px;
    }


    .hamburger {
        display: none;
        cursor: pointer;
        
        span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px;
            background-color: $secondary-color;
            @include transition;
        }

        @media (max-width: $breakpoint-tablet) {
            display: block;
            z-index: 1001; // Above the nav
        }
    }

    nav {
      ul {
        display: flex;
        gap: $spacing-md;
        align-items: center;

        li {
          a {
            font-weight: 500;
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
            
            &::after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: 0;
              width: 0;
              height: 2px;
              background-color: $primary-color;
              @include transition(width);
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }

      @media (max-width: $breakpoint-tablet) {
        // display: none; // REMOVED
        position: fixed;
        top: 0;
        right: 0; // Slide from right
        height: 100vh;
        width: 70%; // or 100%
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        @include transition(transform);
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
        
        &.active {
            transform: translateX(0);
        }

        ul {
            flex-direction: column;
            gap: 2rem;
            
            li {
                opacity: 0; // For stagger animation
                
                a {
                    font-size: 1.2rem;
                }
            }
        }
      }
    }
    
    // Hamburger animation class
    &.menu-open .hamburger {
        span:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
  }
}
